.bold {
    font-weight: 600;
    // font-size: 18px;
    margin-bottom: 5px;
}

.test {
    width: 300px;
    border: 2px solid red;
}


.search {
    padding: 20px;
    text-align: center;
    position: fixed;
    margin-top: 50px;
    width: 100%;
    z-index: 99;
    background-color: white;
    border-bottom: 2px solid gray;


    .filter_button {
        display: none;
        margin-left: 20px;
    }




    input {
        width: 25%;
        border: none;
        border-bottom: 3px solid rgb(145, 145, 145);
        margin-right: 20px;
        outline: none;
        padding: 0 10px 5px 10px;
    }



    button {
        padding: 8px 26px;
        border: none;
        background-color: rgb(109, 109, 109);
        color: white;
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(58, 58, 58);
        transition: .2s;
    }

}

.products {
    display: flex;
    padding-top: 130px;



    .filter {
        border: 1px solid rgb(192, 192, 192);
        // width: 15%;
        position: fixed;
        background-color: rgb(243, 243, 243);
        height: 100%;
        font-size: 14px;




        input {
            margin-right: 10px;
        }

        .filter_group {
            // margin-bottom: 10px;
            padding: 20px;
            border-bottom: 1px solid rgb(192, 192, 192);

        }
    }

    .products_container {
        width: 100%;
        margin-left: 15%;
        padding: 10px 20px 20px;
    }

    .products_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;


        .product_card {
            border: 1px solid rgb(192, 192, 192);
            border-radius: 5px;
            padding: 10px;
            box-shadow: 1px 1px 2px 2px rgb(186, 186, 186);


            .product {
                background-color: rgb(233, 233, 233);
                padding: 5px 20px 20px;
                border-radius: 5px;

                .type {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 5px;

                    .gender {
                        background-color: rgb(87, 87, 87);
                        padding: 0 5px;
                        color: white;
                    }
                }



                .product_image_container {
                    width: 100%;
                    margin: 0 auto;



                    img {
                        width: 100%;
                    }
                }
            }

            .price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 30px 10px;

                button {
                    background-color: rgb(29, 29, 29);
                    color: white;
                    font-size: 14px;
                    padding: 2px 10px;
                }

                button:hover {
                    background-color: black;
                }
            }
        }

        .product_card:hover {
            transform: scale(1.01);
            transition: 0.1s;
        }

    }
}

@media screen and (max-width:1020px) {
    .products_grid {
        gap: 20px !important;
    }

}


@media screen and (max-width:940px) {

    * {
        font-size: 14px;
    }

    .search {
        text-align: end;
    }


    .products_container {
        margin: 0 !important;
    }

    .products_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 20px !important;
    }

    .filter_button {
        display: inline-block !important;
    }

    .filter {
        right: 0;
        width: 0px;
        height: 100vh;
        transition: .2s;
    }

    .products_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 50px;
    }
}



@media screen and (max-width:550px) {
    .products_grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 20px !important;
        padding: 0px 50px;
    }

    .search {
        padding: 20px;
        text-align: center;
        position: fixed;
        margin-top: 50px;
        width: 100%;
        z-index: 99;
        background-color: white;
        border-bottom: 2px solid gray;

        input {
            width: 45%;
        }
    }
}


@media screen and (max-width:360px) {

    .products {
        padding-top: 110px;
    }

    .products_grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 20px !important;
        padding: 0px 20px;
    }


    .search {
        padding: 20px 10px;
        margin-top: 40px;


        .filter_button {
            margin-left: 5px;
        }


        input {
            width: 50%;
            margin-right: 20px;
            font-size: 12px !important;
        }

        button {
            padding: 4px 13px;
        }
    }

    .bold {
        font-size: 12px;
    }

    .price {
        padding: 5px !important;

        .gender {
            font-size: 12px;
        }

        button {
            font-size: 12px !important;
            border: none;
        }
    }

}